body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
input{
    outline: none;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
 
 }
.Flex{
    display: flex;
}
.Flex-Center{
    justify-content: center;
    align-items: center;
}
.Flex-Column{
    flex-direction: column;
}
.FLex-Row{
    flex-direction: row;
}
.box-All{
    padding: 40px 20px;
    position:relative;
}
.boxNav{
    background:#03045E;
    width: 100%;
    height: 80px;
}
.boxNav > img {
    height: 100%;
}
.button{
    padding: 7px 20px;
    background:white;
    border: 2px solid black;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 17px;
}
.button:hover{
    transition: 1s;
    background:#03045E;
    color:white
}
[box-Form]{
    min-height: 300px;
}
[Form-ConsultaCep] input{
    border:none;
    border-bottom: 1px solid black;
    font-size: 17px;
    margin-right: 20px;
}
[Form-ConsultaCep] i[Icon-Localizacao]{
    color: #00B4D8;
    margin-bottom: 50px;
    border:2px solid #00B4D8;
    padding:30px 40px;
    border-radius:50%;
}
[Form-ConsultaCep] i[Icon-Localizacao]:hover{
    transition: 1s;
    box-shadow: 0 0 20px #00B4D8;
}
.boxTable{
    display: none;
    width: 100%;
    padding:20px 0px 30px 0px;
}

.labelTable{
    font-size: 26px;
}
.trStyle{
    border-bottom:1px solid black ;
}
@media screen and (max-width:430px){
    [box-Input-Button]{
        flex-direction: column;
    }
    [box-Input-Button] > input{
        margin: 0px;
        margin-bottom: 10px;
    }
    .labelTable{
        font-size: 20px;
    }
}

footer{
    width: 100%;
    height: 150px;
    background:#2b2b2b;
    position: absolute;
    top: 100%;
}
footer  i {
    color:white;
}
footer  i[icon-margin]{
    margin-right: 20px;
}
footer  i:hover {
    transition: 1s;
    box-shadow: 0 25px 20px -20px #00B4D8;
}
